@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;500;600;700&display=swap');

body {
  margin: 0;
  padding: 0;
  font-family: "Open Sans", sans-serif;
}

:root {
  --primary-color: #8DD3BA;
  --secondary-color: #ffffff;
  --text-color: #4f4f4f;
  --normal-text-color: #6c757d;
  --prominent-color: #fa7e70;
  --prominent-color-hover: #ff9e93;
  --button-color: #8DB883;
  --button-color-hover: #98dfc5;
  --background-hover: #ffffffbf;
}

@tailwind base;
@tailwind components;
@tailwind utilities;